* { margin: 0 }
:root { user-select: none}

.body { background-color: #000000 }

.masonry-grid {
  display: flex;
  gap: 12px;
}

.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}